:root {
  --main-bg-color: rgb(35, 57, 57);
  --primary-color: #fffde6;
  --font-primary: "Overpass", sans-serif;
}

* {
  background-color: var(--primary-color);
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  padding-left: 30%;
  padding-right: 30%;
  font-family: var(--font-primary);
  font-style: italic;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .fa-solid {
  display: none;
}

#navbar {
  transition: top 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  max-width: 100%;
  padding-left: 15%;
  padding-right: 5%;
}

.navbar-hidden {
  top: -100px;
}

.logo {
  width: 70px;
  margin-top: 10px;
  margin-left: 40px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--main-bg-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-bg-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

header {
  position: relative;
  width: calc(100% + 90%); /* Añade el padding del body */
  grid-template-columns: 60% 40%; /* La primera columna ocupa el 70%, la segunda el 30% */
  left: -30%; /* Compensa el padding del body */
  padding: 20px 0; /* Relleno interno, ajusta según sea necesario */
  text-align: center; /* Centra el contenido */
  box-sizing: border-box;
  gap: 20px;
  display: grid;
  margin-top: 100px; /* Centro la sección y la separo del navbar */
}

.text-section {
  padding: 20px;
  text-align: left; /* Alinea el texto a la izquierda */
  font-family: var(
    --font-primary
  ); /* Aplica el mismo tipo de fuente a todo el contenedor */
  color: var(--main-bg-color); /* Aplica el mismo color a todo el contenedor */
  font-style: italic; /* Aplica estilo cursivo a todo el texto */
}

.text-section h1 {
  font-size: 4.5rem;
  margin: 0;
}

.text-section p {
  margin-top: 10px; /* Ajusta el margen superior si es necesario */
  font-size: 1.2rem; /* Ajusta el tamaño de la fuente del párrafo según sea necesario */
  line-height: 1.5; /* Ajusta el espaciado entre líneas si es necesario */
}
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow: hidden; /* Evita que el contenido se desborde del contenedor */
}

.image-section img {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: auto;
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor manteniendo la proporción */
}

.button-container {
  margin-top: 30px;
}

.button-container .btn {
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.btn-1,
.btn-3 {
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-bg-color);
  color: var(--primary-color);
}

.btn-2 {
  background-color: var(--primary-color);
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
}

.btn-1:hover {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
}
.btn-2:hover {
  background-color: var(--main-bg-color);
  color: var(--primary-color);
}

.btn-3:hover {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
}

.content-section {
  position: relative;
  width: calc(100% + 60%); /* Añade el padding del body */
  left: -30%; /* Compensa el padding del body */
  padding: 20px 0; /* Relleno interno, ajusta según sea necesario */
  text-align: center; /* Centra el contenido */
  box-sizing: border-box;
  margin-top: 50px;
}

.section-title {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--main-bg-color);
  font-style: italic;
}

.paragraph-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0;
  cursor: pointer;
}

.paragraph-box {
  flex: 1;
  padding: 0px;
}

.paragraph-box h2 {
  text-align: left;
  font-size: 1.5rem;
  color: var(--main-bg-color);
  margin-top: 20px;
  line-height: 1.5;
}

.paragraph-box p {
  text-align: left;
  margin: 10px 0;
  font-size: 1.2rem;
  color: var(--main-bg-color);
}

section {
  display: grid;
  position: relative;
  width: calc(100% + 90%);
  height: auto;
  left: -30%;
  box-sizing: border-box;
  padding: 0;
  gap: 10px;
  margin-top: 50px;
}

.container-sport {
  grid-template-columns: 50% 50%;
}

.image-section-sport {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.image-section-sport img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin: auto;
}

.text-section-sport {
  max-width: 600px;
  height: auto;
}

.text-section-sport h2 {
  font-size: 3rem;
  color: var(--main-bg-color);
  margin-bottom: 50px;
  text-align: left;
}

.program {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  position: relative;
  padding-left: 60px;
}

.program:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 35px;
  top: 50px;
  width: 2px;
  height: calc(100%);
  background-color: #b3c4a9;
}

.number {
  font-size: 24px;
  color: var(--main-bg-color);
  background-color: #ddeee6;
  padding: 10px;
  border-radius: 8px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b3c4a9;
  position: absolute;
  left: 0;
  top: 0;
}

.number span {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateX(3rem);
  width: calc(100% - 40%);
  height: 2px; /* Línea horizontal */
  background-color: #b3c4a9;
}
.details {
  margin-left: 30px;
}

.details h3 {
  font-size: 24px;
  color: var(--main-bg-color);
  margin: 0;
  text-align: left;
}

.details p {
  font-size: 18px;
  color: var(--main-bg-color);
  text-align: left;
  margin-top: 5px;
}

.contact-rigth-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.contact-rigth-img img {
  max-width: 50%;
  height: auto;
  margin: auto;
  object-fit: cover;
  border-radius: 50px;
  border: 10px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4 4px 8px rgba(0, 0, 0, 0.1);
}

#contactForm {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contactForm button {
  padding: 10px;
  background-color: var(--main-bg-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contactForm button:hover {
  background-color: var(--primary-color);
  border: 2px solid #ccc;
  color: var(--main-bg-color);
}

.comedores-comunitarios {
  text-align: center; /* Centra el contenido */
  box-sizing: border-box;
  grid-template-columns: 45% 55%;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comedores-texto {
  width: 90%;
  flex: 1;
  margin-right: 10px;
}

.comedores-texto h2 {
  font-size: 2.5rem;
  color: var(--main-bg-color);
  margin-bottom: 30px;
  text-align: left;
}

.comedores-item {
  background-color: #ddeee6; /* Color de fondo de los ítems */
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comedores-item h3 {
  font-size: 1.5rem;
  color: var(--main-bg-color);
  margin-bottom: 10px;
  text-align: left;
  background-color: #ddeee6;
}

.comedores-item p {
  font-size: 1rem;
  color: var(--main-bg-color);
  text-align: left;
  background-color: #ddeee6;
}

.comedores-imagen {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
  max-width: 90%;
  height: 90%;
  margin-left: 30px;
  margin-top: 30px;
  gap: 30px;
  display: flex;
  background-image: linear-gradient(to bottom, #e9e7e9 0%, #474747 100%);
  box-shadow: 4 4px 8px rgba(0, 0, 0, 0.1);
}

.comedores-imagen img {
  max-width: 60%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.impact-social {
  text-align: center;
  box-sizing: border-box;
  grid-template-columns: 60% 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.impacto-social-container h2 {
  width: 100%;
  text-align: center;
  color: var(--main-bg-color);
}

.impacto-social-img {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
  max-width: 100%;
  height: 90%;
  display: flex;
  background: rgb(255, 254, 249);
  background: linear-gradient(
    90deg,
    rgba(255, 254, 249, 1) 0%,
    rgba(189, 196, 196, 0.30808820110075286) 100%
  );
  box-shadow: 4 4px 8px rgba(6, 6, 6, 0.1);
  margin-right: 40px;
  margin-top: 30px;
}
.impacto-social-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.impacto-social-img img {
  width: 70%;
}
.accordion {
  background-color: #f2f2f2;
  width: 100%;
  padding: 1.5em;
  margin: 30px auto;
  max-width: 500px;
  box-shadow: 0 0 10px -3px rgb(0, 0, 0, 0.5);
  border-radius: 6px;
  border-left: 4px solid var(--main-bg-color);
  margin-top: 50px;
}

.accordion_link input {
  display: none;
}

.accordion_link {
  display: inline-block;
  background-color: #f2f2f2;
  color: var(--main-bg-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.accordion_link p {
  background-color: #f2f2f2;
  margin-top: 10px;
}

.accordion_item {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
}

.accordion_item p {
  overflow: hidden;
  text-align: left;
  background-color: #f2f2f2;
}

.accordion:has(:checked) {
  --rows: 1fr;
}

.container-apoyar {
  text-align: center; /* Centra el contenido */
  box-sizing: border-box;
  grid-template-columns: 45% 55%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section-apoyar {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-section-apoyar img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin: auto;
}

.text-section-apoyar {
  max-width: 600px;
  height: auto;
}

.text-section-apoyar h2 {
  font-size: 3rem;
  color: var(--main-bg-color);
  margin-bottom: 50px;
  text-align: left;
}

.program-2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  position: relative;
  padding-left: 60px;
}

.program-2 .icon {
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25px;
}

.program-2 .icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin deformarse */
}

.details-apoyar h3 {
  font-size: 24px;
  color: var(--main-bg-color);
  margin: 0;
  text-align: left;
}

.details-apoyar p {
  font-size: 18px;
  color: var(--main-bg-color);
  text-align: left;
  margin-top: 5px;
}

.conocenos {
  text-align: center; /* Centra el contenido */
  box-sizing: border-box;
  grid-template-columns: 45% 55%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conocenos-texto {
  display: grid;
  width: 80%;
  flex: 1;
  margin: 30px;
  margin-left: 60px;
}

.conocenos-icon {
  width: 30px;
  margin-left: 10px;
}
.conocenos-icon img {
  width: 100%;
  height: auto;
}
.conocenos-texto h2 {
  font-size: 2.5rem;
  color: var(--main-bg-color);
  margin-bottom: 30px;
  text-align: left;
  margin-top: 50px;
}

.conocenos-item {
  background-color: var(--primary-color); /* Color de fondo de los ítems */
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conocenos-item h3 {
  font-size: 1.5rem;
  color: var(--main-bg-color);
  margin-bottom: 10px;
  text-align: left;
}

.conocenos-item p {
  font-size: 1rem;
  color: var(--main-bg-color);
  text-align: left;
}

.conocenos-imagen {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
  max-width: 100%;
  margin-left: 10px;
  margin-top: 50px;
  height: 90%;
  display: flex;
  background: rgb(150, 108, 96);
  background: linear-gradient(
    45deg,
    rgba(150, 108, 96, 1) 0%,
    rgba(118, 126, 89, 1) 100%
  );
  box-shadow: 4 4px 8px rgba(0, 0, 0, 0.1);
}

.conocenos-imagen img {
  max-width: 80%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-contac {
  grid-template-columns: 50% 50%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section-contac {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow: hidden; /* Evita que el contenido se desborde del contenedor */
}
.image-section-contac img {
  width: 80%;
  height: auto;
  margin: auto;
}

.text-section-contac {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: auto;
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor manteniendo la proporción */
}

.text-section-contac h2 {
  font-size: 3rem;
  color: var(--main-bg-color);
  margin-bottom: 50px;
  text-align: left;
}

.program-3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
  padding-left: 60px;
}

.number {
  font-size: 24px;
  color: var(--main-bg-color);
  background-color: #ddeee6;
  padding: 10px;
  border-radius: 8px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b3c4a9;
  position: absolute;
  left: 0;
  top: 0;
}

.details-contac {
  margin-left: 30px;
}

.details-contac h3 {
  font-size: 24px;
  color: var(--main-bg-color);
  margin: 0;
  text-align: left;
}

.details-contac p {
  font-size: 18px;
  color: var(--main-bg-color);
  text-align: left;
  margin-top: 5px;
}

.details-contac li {
  list-style-type: none;
}

.details-contac a {
  text-decoration: none; /* Eliminar subrayado */
  color: var(--main-bg-color); /* Color de los enlaces */
  font-size: 18px; /* Tamaño de fuente de los enlaces */
}

.details-contac a:hover {
  color: #0056b3; /* Color en hover */
  text-decoration: underline; /* Subrayado en hover */
}

.facebook,
.instagram {
  height: 40px;
  width: 40px;
  position: relative;
  color: rgb(83, 194, 40);
  list-style: none;
  background: rgb(40, 47, 49);
  border-radius: 50px;
  padding: 10px;
  top: 5px;
  font-size: 40px;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}

.facebook:hover,
.instagram:hover {
  color: #fff;
  transform: rotate(20deg);
}

.facebook:hover::after,
.instagram:hover::after {
  height: 100%;
  transform: translateY(-53px);
}

.facebook::after,
.instagram::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 130%;
  height: 0;
  width: 100%;
  border-radius: 50%;
  transform: translateY(-10px);
  transition: 0.75s ease-in-out;
}

.facebook::after {
  background: #3b5998;
}

.instagram::after {
  background: linear-gradient(
    50deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 176, 1) 100%
  );
}

#scroll-indicator {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 1000;
}

.circle {
  position: relative;
  width: 50px;
  height: 50px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #4caf50;
}

.icon a {
  text-decoration: none;
  color: inherit;
}

#content {
  padding: 20px;
  height: 2000px; /* Simula contenido largo para scroll */
}

#main-footer {
  position: relative;
  width: calc(100% + 120%); /* Añade el padding del body */
  left: -55%; /* Compensa el padding del body */
  padding-top: -50px; /* Relleno interno, ajusta según sea necesario */
  text-align: center; /* Centra el contenido */
  box-sizing: border-box;
}

#footer-bottom {
  padding: 10px 0;
  border-top: 1px solid var(--main-bg-color); /* Línea superior */
}

#footer-info {
  font-size: 14px;
  margin-top: 10px;
  font-size: 1rem;
}

#footer-info a {
  color: var(--main-bg-color); /* Color para los enlaces */
  text-decoration: none;
  margin-left: 50px;
}

#footer-info a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 680px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  nav ul {
    flex-direction: column; /* Hace que el menú sea vertical */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  nav ul li {
    margin: 10px 0; /* Aumenta el margen entre los elementos del menú */
  }

  nav {
    justify-content: space-between; /* Distribuye espacio entre logo y menú */
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  .logo {
    width: 70px;
  }

  nav ul {
    background: var(--primary-color);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .abaut-col-1,
  .abaut-col-2 {
    flex-basis: 100%;
  }

  .abaut-col-1 {
    margin-bottom: 30px;
  }

  .abaut-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .btn2 {
    text-align: center;
  }

  .copyringht {
    font-size: 14px;
  }

  .layer {
    padding: 0;
    text-align: center;
    font-size: 13px;
  }

  .whatsapp-icon {
    left: 10px;
    bottom: 20px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 680px) and (orientation: portrait) {
  body {
    margin: auto;
  }

  .abaut-col-1 img {
    width: 100%;
    height: auto;
  }

  #header {
    background-position-y: center;
  }
}

@media only screen and (max-width: 680px) and (orientation: landscape) {
  body {
    margin: 0;
  }

  .abaut-col-1 img {
    max-width: 100%;
    max-height: 80vh;
  }

  #header {
    background-position-y: top;
  }
}

@media only screen and (min-width: 680px) and (orientation: landscape) {
  .abaut-col-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  header {
    width: 100%; /* Ajusta el ancho al 100% */
    left: 0; /* No es necesario compensar */
    padding: 15px 0; /* Ajusta el padding si es necesario */
  }
  #navbar {
    padding-left: 10%;
    padding-right: 10%;
  }
  .logo {
    width: 60px;
    margin-top: 5px;
    margin-left: -10px;
  }
  .dual-section {
    grid-template-columns: 1fr; /* En pantallas pequeñas, las secciones se apilan verticalmente */
    margin-top: 50px; /* Reduce el margen superior */
  }

  .image-section {
    order: 1; /* Coloca la imagen en la parte superior */
    width: 100%;
    margin: auto;
  }

  .text-section {
    order: 2; /* Coloca el texto en la parte inferior */
    padding: 10px; /* Reduce el padding para pantallas pequeñas */
    text-align: left; /* Centra el texto para una mejor lectura en pantallas pequeñas */
  }
  .image-section img {
    margin-top: 10px;
    width: 50%;
    height: auto;
  }
  .text-section h1 {
    font-size: 2.5rem;
  }
  .text-section p {
    font-size: 1rem; /* Ajusta el tamaño de la fuente del párrafo según sea necesario */
  }
  .button-container {
    margin-top: 30px; /* Reduce el margen superior */
    text-align: center; /* Centra los botones */
  }

  .button-container .btn {
    margin-right: 0; /* Elimina el margen derecho */
    margin-bottom: 10px; /* Añade margen inferior para separar los botones */
    width: 100%; /* Botones a lo largo del contenedor */
  }
  .content-section {
    width: 100%; /* Ajusta el ancho al 100% */
    left: 0; /* No es necesario compensar */
    padding: 15px 0; /* Ajusta el padding si es necesario */
    margin-top: 10px;
  }

  .paragraph-container {
    flex-direction: column;
  }

  .paragraph-box {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .paragraph-box p {
    font-size: 1rem;
  }
  .container-sport {
    grid-template-columns: 1fr;
    width: auto;
    margin: 10px;
    left: 0;
  }
  #contactForm {
    width: 80%;
  }
  .details h2 {
    font-size: 24px;
  }
  .text-section-sport h2 {
    font-size: 2rem;
  }

  .contact-rigth-img {
    display: none;
  }

  #contactForm {
    width: 100%;
    height: auto; /* Permite que el formulario crezca con el contenido */
  }

  .comedores-comunitarios {
    grid-template-columns: 1fr; /* En pantallas pequeñas, las secciones se apilan verticalmente */
    width: 100%;
    left: 0;
  }
  .comedores-texto {
    width: 100%;
    margin-right: 10px;
  }
  .comedores-texto h2 {
    font-size: 2rem;
    text-align: center;
    flex: 2;
    margin-top: 10px;
  }
  .comedores-imagen {
    max-width: 100%;
    flex: 1;
  }
  .impact-social {
    grid-template-columns: 1fr; /* En pantallas pequeñas, las secciones se apilan verticalmente */
    width: 100%;
    left: 0;
  }
  .conocenos {
    grid-template-columns: 1fr; /* En pantallas pequeñas, las secciones se apilan verticalmente */
    width: 100%;
    left: 0;
  }
  .conocenos-texto {
    width: 95%;
    flex: 1;
    margin-left: 10px;
  }
  .container-apoyar {
    grid-template-columns: 1fr; /* En pantallas pequeñas, las secciones se apilan verticalmente */
    width: 100%;
    left: 0;
  }
  .container-contac {
    grid-template-columns: 1fr; /* En pantallas pequeñas, las secciones se apilan verticalmente */
    width: 100%;
    left: 0;
  }
  #main-footer {
    width: 100%;
    left: 0;
  }
  #footer-info {
    display: grid;
    font-size: 10px;
  }
}
/* Estilos específicos para pantallas de 844x390 */
@media screen and (max-width: 844px) and (max-height: 390px) {
  #navbar {
    width: 70%;
    padding: 0;
    margin: 5px;
    margin-top: -10px;
  }

  .logo {
    display: none;
  }
  .image-section-sport img {
    max-width: 90%;
  }
  .conocenos-imagen {
    height: 90%;
  }
  .conocenos-texto {
    margin-left: 10px;
  }
}
